@import '../../colors.scss';

.card {
    box-sizing: border-box;
    font-weight: 400;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    max-width: 300px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "icon icon temperature temperature" "lowtemp lowtemp hightemp hightemp" "description description description description";

    &__temp {
        grid-area: temperature;
    }

    &__temp--big {
        color: $main;
        font-size: 12px;
        font-weight: 700;
    }

    &__icon {
        grid-area: icon;
    }

    &__description {
        grid-area: description;
        h3 {
            color: $accent;
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 0.3em;
        }
    }
}