<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="sendInfo(fomularioData)" #fomularioData="ngForm" autocomplete="off">
            <div class="mb-3 row">
                <label for="producto" class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Nombre del producto" ngModel name="producto" required>
                  <span class="form-text text-danger">Debe ser de 3 letras</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="precio" class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="Precio del producto" ngModel name="precio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="existencia" class="col-sm-3 col-form-label">Existencia</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="Existencias del producto" ngModel name="existencia">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{fomularioData.valid}}</pre>
        <span>Value</span>
        <pre>{{fomularioData.value | json}}</pre>
    </div>
</div>