<h2>Reactivo: Switches</h2>
<hr>

<form [formGroup]="formularioSwitchesReactivo" (ngSubmit)="seveData()">
    <!-- radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="radioMasculino" value="M" formControlName="genero">
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
            </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="radioFemenino" value="F" formControlName="genero">
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
            </div>
        </div>
    </div>

     <!-- switch -->
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="notificaciones">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

     <!-- check -->
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="terminoCondiciones" formControlName="terminos">
                <label class="form-check-label" for="terminoCondiciones">
                  Terminos y Condiciones
                </label>
            </div>
        </div>
    </div>

    <!-- boton -->
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>
</form>

<br>
<div>
    <h4>Valor del Formulario</h4>
    <pre>{{formularioSwitchesReactivo.value | json}}</pre>

    <h4>Persona</h4>
    <pre>{{persona | json}}</pre>
    
    <h4>Valid</h4>
    <pre>{{formularioSwitchesReactivo.valid}}</pre>
<!--     
    <h4>Terminos</h4>
    <pre></pre>

    <h4>Condiciones</h4>
    <pre></pre> -->
</div>
