<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="formProductos">
    <div class="row mb-3">
      <label for="nombre" class="col-auto col-form-label">Nombre</label>
      <div class="col-auto">
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
      </div>
      <div class="col-auto mt-1">
          <span *ngIf="errorExist('nombre')" errorMsg [color]="colorDirective" [msg]="changeMsg"></span>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="changeMSG()">Guardar</button>
    <button type="submit" class="btn btn-primary mx-2" (click)="changeColor()">Cambiar Color</button>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{formProductos.valid}}</pre>
<pre>Valid: {{formProductos.value | json}}</pre>
