<div class="text-color-layout">
    <h1>Inicio de trabajo con Pies</h1>
    <h2>{{'Primer pipes' | uppercase}}</h2>
</div>

<div class="p-m-6">
    <button pButton pRipple type="button" label="Help" class="p-button-help" icon="pi pi-check" iconPos="right" (click)="mostrarNombre()"></button>
</div>

<div class="p-mx-auto">
    <p-card class="p-mx-auto" [header]="nombre | titlecase" subheader="Subtitulo de la tarjeta">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ab corporis. Tempora sunt est unde quam nemo rerum magnam blanditiis aliquid, doloremque omnis sint repudiandae debitis pariatur adipisci ipsum dolorem!
    </p-card>
</div>
<app-menu></app-menu>