<section>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 my-2 animate__animated animate__backInDown" *ngFor="let item of resultados">
            <div class="card">
                <img [src]="item.images.original.url" class="card-img-top" [alt]="item.title">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
<!--                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
