<div class="container">
  <div class="container text-center m-5">
    <h3>Inventory System</h3>
  </div>

  <table class="table table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>dfd</td>
      </tr>
    </tbody>
  </table>
</div>
