<div class="container">
  <h3 class="text-center m-5">Adding Product</h3>
</div>
<div class="container">
  <form>
    <div class="mb-3">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputDescription" />
    </div>
    <div class="mb-3">
      <label for="inputPrice" class="form-label">Price</label>
      <input type="number" step="any" class="form-control" id="inputPrice" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputStock">Stock</label>
      <input type="number" class="form-control" id="inputStock" />
    </div>
    <div class="text-center m-2">
      <button type="submit" class="btn btn-primary fw-bold me-2">Add</button>
      <a href="/" type="submit" class="btn btn-secondary fw-bold ms-2">Back</a>
    </div>
  </form>
</div>
