<!DOCTYPE html>
<div>
    <h1 borderDirect>Titulo del nuevo componente para Angular - {{fecha}}</h1>
    <p>otras fechas: {{fecha | json}}</p>
    <p [borderDirect]="'blue'" [backGroundDirect]="'backGroundColor-gold'">otras fechas: {{fecha | date: 'dd MM yy'}}</p>
    <p>otras fechas: {{fecha | date: 'dd MMM y h:mm:ss' | uppercase}}</p>
    <p>{{name}}</p>
    <ng-content></ng-content>

    <div class="info">
        <a (click)="toggleMasInfo()">Más información <i class="fa" [ngClass]="masInfo ? 'fa-chevron-circle-up' : 'fa-chevron-circle-down'"></i></a>
        <div *ngIf="masInfo">
            <p>{{getEdadNombre()}}</p>
            <p>{{edades}}</p>
        </div>
    </div>
    <p *ngIf="!isAvailable; else disponible">Fecha de Inicio: 06 de Febrero de 2021</p>
    <ng-template #disponible>
        <p class="disponible">Cursos Disponible por: {{price | currency:'CLP'}}</p>
        <p>Duracion: {{seconds | secondsToTimeFormat}}</p>
    </ng-template>

    <div [ngSwitch]="categoria" class="categoria">
        <div *ngSwitchCase="'web'">Desarrollo Web</div>
        <div *ngSwitchCase="'movil'">Desarrollo Movil</div>
        <div *ngSwitchDefault>No especificado</div>
    </div>

    <div>
        <ul>
            <li *ngFor="let curso of cursos; index as posicion">{{posicion + 1}} - {{curso}}</li>
        </ul>
    </div>
    <div class="botones">
        <button type="button" name="button" [disabled]="!isAvailable || !subscribed" [class.active]="isAvailable">Ver Más</button>
        <button type="button" name="button2" [ngClass]="isAvailable && subscribed ? 'active' : 'noClase'">Ver Más</button>
    </div>
</div>
