<div class="alert alert-primary" role="alert" *ngIf="!pais.name; else divPais">
  Buscando información...
</div>

<ng-template #divPais>
  <div class="card m-5">
      <img [src]="pais.flag" class="card-img-top" [alt]="pais.capital">
      <div class="card-body">
        <h5 class="card-title">{{pais.name}}</h5>
        <p class="card-text">Capital: {{pais.capital}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Población: {{pais.population | number}}</li>
          <li class="list-group-item">Área: {{pais.area | number}}</li>
          <li class="list-group-item">Zona Horaria: {{pais.timezones}}</li>
          <li class="list-group-item">Código Alfa3: {{pais.alpha3Code}}</li>
          <li class="list-group-item">
            <span class="card-text"><small class="text-muted">{{pais.translations.de}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.es}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.fr}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.ja}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.it}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.br}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.pt}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.nl}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.hr}}</small></span> |
            <span class="card-text"><small class="text-muted">{{pais.translations.fa}}</small></span>
          </li>
        </ul>
      </div>
  </div>

<!--   <pre class="mt-5">
    {{pais | json}}
  </pre> -->

</ng-template>

